* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    
}
.container {
    display: flex;
}
/*NAVBAR START*/

.navbar {
    width: 20%;
}

    .navbar ul {
        list-style-type: none;
        min-height: 99vh;
        padding-top: 10px;
        height: auto;
        background-color: beige;
    }

        .navbar ul li {           
            transition: 0.3s;
            
            margin-top: 10px;
        }

            .navbar ul li p:hover {
                border-radius: 7px;
                background-color: grey;
                transition: 0.3s;
                cursor: pointer;            
            }     
            
            .navbar ul li p {                
                padding: 50px;
                font-size: 20px;
            }

            .navbar ul li a {
                text-decoration: none;
                color: black;
                
            }

.vertical-line {
    border-left: 1px groove #333;
    
}
    /*NAVBAR END*/

    .content {
    background-color: burlywood;
    width: 80%;
    text-align: center;
    display: block;
    height: auto;
    padding-top: 23%;
    font-size: 35px;
}
