* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*NAVBAR START*/

.navbar {
    width: 20%;
    min-height: 100vh;
    padding-top: 10px;
    height: auto;
    background-color: beige;
    overflow: hidden;
}

    .navbar ul {
        list-style-type: none;
    }

        .navbar ul li {
            transition: 0.3s;
            margin-top: 10px;
        }

            .navbar ul li p:hover {
                border-radius: 7px;
                background-color: grey;
                transition: 0.3s;
                cursor: pointer;
            }

            .navbar ul li p {
                padding: 50px;
                font-size: 20px;
            }

            .navbar ul li a {
                text-decoration: none;
                color: black;
            }

.vertical-line {
    border-left: 1px groove #333;
}
/*NAVBAR END*/

body {
    background-color: darkolivegreen
}

.container {
    display: flex
}

.content {
    display: block;
    width: 100%;
    padding: 30px 50px 0px 50px;
}
.box{
    border-radius: 25px;
    background-color: darkkhaki;
    padding: 30px 0px 30px 50px;
    margin-bottom: 10px;
}
.asptextbox {
    display: block;
}